<%- include('../partials/header.ejs') %>
  <div class="event-category-container">
    <% events.forEach(category => { %>
      <% if(category.length) { %>
        <div class="title-container">
          <h1 class="category-title"><%= category[0].category %></h1>
        </div>
        <div class="event-category-cards">
          <% category.forEach(event => { %>
            <a href="/events/<%= event.id %>" class="event-link">
              <div class="event-container">
                <img src="<%= event.imagePath %>" alt="event.jpg" class="event-image">
                <div class="event-info-container">
                  <h3 class="event-title"><%= event.title %></h3>
                  <div class="event-body-container">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" class="event-body-icon">
                      <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    <p class="event-text"><%= event.start %></p>
                  </div>
                  <div class="event-body-container">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" class="event-body-icon">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p class="event-text"><%= event.location %></p>
                  </div>
                </div>
              </div>
            </a>
          <% });%>
        </div>
      <% } %>
    <% });%>
  </div>
<%- include('../partials/footer.ejs') %>